article {
    margin: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    max-width: 500px;
    min-width: 300px;
    width: 90%;
    padding: 0.5em;
}

article .main_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 85%;
    max-width: 500px;
    max-height: 500px;
    width: 90%
}

article h2 {
    text-align: center;
}

article header {

}

article {
    font-family: "Courier New";
}

article footer {
    font-size: 2em;
}

article footer ul {
    font-size: 2em;
}

article footer li {
    display: inline-block;
    width: 30%;
    background-color: gainsboro;
    text-align: center;
    color: white;
}

article footer li:first-child {
    background-color: darkgreen;
}

article footer li:last-child {
    background-color: darkred;
}

article footer ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

article footer div {
    text-align: center;
}

.connexion-menu {
    position: relative;
    width: 100px;
    padding: 0;
}

.navigation-menu {
    position: absolute;
    right: 0;
}

.connexion-menu > li {
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation-menu > li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    display: block;
}

#main-header {
    position: relative;
    display: block;
    background-color: black;
    color: lightgrey;
    min-height: 2em;
}

body {
    background-color: #505050;
}

ul {
    margin: 0;
}

#main-header * {
    height: 100%;
}

#main-header > * {
    display: inline-block;
}

#main-header .logo {
    width: 200px;
}

#main-header #connexion-nav {
    width: 200px;
}

#main-header h1 {
    padding: 5%;
}

@media (min-width: 600px) {
    #hamburger-header {
        display: none;
    }

}

@media (max-width: 600px) {
    #main-header {
        display: none;
    }

    #hamburger-header {
        background-color: black;
    }

    .hamburger-button > div {
        width: 35px;
        height: 5px;
        background-color: black;
        display: block;
        margin: 6px;
    }

    .hamburger-button {
        background-color: silver;
        width: 50px;
        padding: 6px;
        text-align: center;
    }

}

